.left-info {
    width: fit-content;
    position: relative;
    top: 6em;
    left: 6em;
    &.blurry {
        position: absolute;
        transform: scale(1.1);
        filter: blur(8px);
        z-index: -4;
        top: 10em;
    }
}

.movie-title {
    font-weight: bolder;
}

.movie-summary {
    font-style: italic;
    width: 498px;
    color: #fbfbfb;
    position: relative;
    text-align: left;
}
.movie-link {
  color: #fbfbfb;
}
.movie-website {
    color: #fbfbfb;
  }
.right {
    position: relative;
    top: 8em;
    right: 23%;
    color: #fbfbfb
}